::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #A6AEAD;
}

body {
    font-family: "Bellota Text", cursive;
}

.section-bg-affect h2,
.section-bg-affect h3,
.section-bg-affect h5,
.section-bg-affect h6,
.section-bg-affect a,
.section-bg-affect p,
.section-bg-affect span,
.section-bg-affect div {
    color: #fff;
}

.section-bg-affect:nth-child(even) {
    background-color: #a6aead;
}

.section-bg-affect:nth-child(odd) {
    background-color: #a6aead;
}

.story-section .timeline-card::before {
    border-color: #696e6f;
}

.story-section .timeline .title::before {
    border-color: #696e6f;
}

.story-section .timeline-1 li {
    border-left-color: #696e6f;
}

.story-section .timeline-1 li:before {
    border-color: #696e6f;
    box-shadow: 3px 3px 0px #696e6f;
}

.donate-section .donate-box .donate-card {
    width: 100%;
    border: 1px dashed #696e6f;
}

.donate-section .donate-box .donate-card p:last-child {
    margin-bottom: 0 !important;
}

.donate-section .donate-box .donate-card .qr-code-image {
    max-width: 150px;
    display: block;
}

.donate-modal {
    display: none;
    position: fixed;
    z-index: 199;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.donate-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetopfordonatemodal;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetopfordonatemodal;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetopfordonatemodal {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetopfordonatemodal {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.donate-modal strong,
.donate-modal h3 {
    font-family: inherit !important;
}

.donate-modal-close {
    color: red;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    z-index: 999;
}

.donate-modal-header {
    padding: 8px 16px;
    background-color: #f23b43;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.donate-modal-header strong {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
}

.donate-modal-header strong span {
    margin-left: 10px;
}

.donate-modal-body {
    padding: 0 15px;
}

/* .donate-box{display: flex;justify-content: space-evenly;flex-wrap: wrap;} */

.donate-box .donate-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.donate-box .donate-card h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.donate-box .donate-card p {
    margin: 10px 0 !important;
    font-size: 16px;
}

.donate-box .donate-card p:last-child {
    margin-bottom: 0 !important;
}

@media (max-width: 699px) {
    .donate-box .donate-card {
        width: 100%;
    }
    .donate-wrap {
        width: 100%;
    }
    .qr-code-image {
        max-width: 200px !important;
    }
}

.donate-box .donate-card {
    position: relative;
}

.donate-box .donate-card .qr-code-image {
    max-width: 150px;
    border: 1px solid #ccc;
    padding: 3px;
    margin: auto;
    display: block;
}

.donate-box .cryptos-box .cryptos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 10px;
}

.donate-box .cryptos-box .cryptos-items .crypto-item {
    padding: 10px 10px 0;
}

.donate-box .cryptos-box .cryptos-items .crypto-item img {
    width: 30px;
    max-width: 100%;
    min-width: 35px;
    cursor: pointer;
}

.donate-box .cryptos-box-view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

.donate-box .cryptos-box-view h5 {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.donate-box .cryptos-box-view h5 img {
    width: 25px;
}

.donate-box .cryptos-box-view h5 .coin-img {
    margin-right: 5px;
}

.donate-box .cryptos-box-view h5 .coin-id {
    margin-left: 5px;
}

.donate-box .cryptos-box-view .coin-address {
    display: block;
    padding: 10px;
    background: #ffe2e4;
    margin-bottom: 15px;
    word-break: break-word;
    color: #201f1f;
}

.donate-box .cryptos-box-view .cryptos-box-view-close {
    margin-top: 15px;
    background: #f23b43;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #e3252d;
}

.donate-box .cryptos-box-view .cryptos-box-view-close:hover {
    background: #e3252d;
}

header .navbar-brand {
    font-size: 20px;
}

.offcanvas-menu li {
    position: relative;
}

.offcanvas-menu li:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 0;
    border: 1px solid #696e6f;
}

.offcanvas-menu .nav-link {
    font-family: "Texturina", serif;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.section-title {
    font-family: 'Moon Dance', cursive;
    letter-spacing: 1px;
    font-size: 2.5rem;
    color: #5b595a;
}

.section-sub-title {
    font-family: "Bellota Text", cursive;
}

.title {
    font-family: "Bellota Text", cursive;
}

.sub-title {
    font-family: "Bellota Text", cursive;
}

/* Banner Section */

.banner-section .bgm_area {
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
}

.banner-section .bgm_area p {
    color: #1f1f1f;
}

.main_area .save-date {
    font-size: 1.5rem;
}

.main_area .wrap-name {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
    font-size: 2rem;
}

.main_area .wrap-name span {
    /* font-size: 1.2rem; */
}

.main_area .main_image {
    position: relative;
}

.main_area .main_image img:nth-child(2) {
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);
}

.main_area .time-place {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* accessibility-btn */

.accessibility-btn {
    background-color: #696e6f;
    border: 1px solid #f2f2f2;
}

.accessibility-btn:hover {
    opacity: 0.6 !important;
    background-color: #696e6f;
    border: none;
}

/* video-section */

.video-section iframe {
    border-radius: 20px;
    overflow: hidden;
}

/* gallery-section */

.gallery-section .btn-secondary.btn-see-more-gallery {
    background: #696e6f;
    border-color: #fff;
}

/* weddingdate-section */

.weddingdate-section .main_dday_name {
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    border-bottom: 1px solid #c8c8c8;
}

.weddingdate-section .mini_calendar .calendar-month,
.weddingdate-section .mini_calendar table th {
    color: #bababa;
}

.weddingdate-section .mini_calendar table th {
    color: #fff;
}

.weddingdate-section .mini_calendar .calendar-month {
    font-weight: bold;
    color: #fff;
}

.weddingdate-section #clock>div {
    color: #5b595a;
}

.weddingdate-section .wrap-img {
    text-align: center;
    color: #866e69;
    font-size: 14px;
}

.weddingdate-section .day,
.weddingdate-section .time {
    color: #866e69;
    font-size: 45px;
    text-align: center;
}

.weddingdate-section .wrap-img img {
    width: 50px;
}

.weddingdate-section .mini_calendar td {
    color: #fff;
}

.weddingdate-section .countdown .box {
    color: #fff !important;
}

.weddingdate-section .mini_calendar table th {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}

.mini_calendar>.mini_calendar {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 20px;
}

/* story-section */

.story-section .timeline .title {
    /* color: #696e6f; */
}

.timeline-card .img-holder {
    border-radius: 20px;
    overflow: hidden;
}

/* invitation-section */

.invitation-section .invitation-content {
    text-align: left !important;
    color: #38412f;
    border: 1px dashed #aaa;
    border-radius: 10px;
}

.invitation-section .invitation-content p {
    text-align: center;
}

.invitation-section .invitation-content p:last-child {
    margin: 0 !important;
}

.invitation-section .wrap-date {
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
    display: inline-block;
}

.invitation-section .wrap-date p:nth-child(1) {
    position: relative;
}

.invitation-section .wrap-date p:nth-child(1)::after {
    content: '';
    display: block;
    width: 70%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-40%);
    height: 1px;
    background-color: #fff;
}

.invitation-section .wrap-name {
    align-items: center;
    color: #866e69;
    font-weight: bold;
}

.invitation_title_member_image .sub-title span {
    display: inline-block;
    font-size: 2rem;
}

@media screen and (max-width: 450px) {
    .invitation_title_member_image .sub-title span {
        font-size: 1.5rem;
    }
}

.invitation_title_member_image .sub-title small {
    font-size: 1rem;
}

.invitation-section .invitation-parent {
    font-size: 24px;
}

.invitation-section .wrap-img-couple {
    margin: 0 -25px;
}

.invitation-section .heart {
    font-size: 1.5rem !important;
}

.invitation-section .crown {
    width: 50px;
}

.invitation-section .text-desc {
    font-size: 1.5rem;
}

/* couple section */

.couple-section .wrap-people {
    max-height: fit-content;
    min-height: 350px;
    gap: 20px;
}

.couple-section .wrap-people .member-contact li {
    line-height: 20px;
}

.couple-section .member-contact li a {
    font-size: 20px;
    display: inline-block;
    color: #fff;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    min-height: inherit;
}

.limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    position: inherit;
}

.flip-card-back>ul {
    bottom: 10px;
    gap: 10px;
    justify-content: center;
}

.flip-card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    font-size: 13px;
}

.invitation-groom-parent {
    font-size: 15px;
}

.parent-name>span {
    font-weight: bold;
}

.text-story {
    font-size: 12.5px;
}

@media screen and (max-width: 450px) {
    .couple-section .wrap-people {
        max-height: fit-content;
        flex-direction: column;
        min-height: 300px;
    }
    .flip-card {
        margin-bottom: 25px;
        min-height: inherit;
    }
    .flip-card-inner {
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
    }
    .flip-card-front,
    .flip-card-back {
        height: 100%;
    }
    .wrap-story>.text-story {
        font-size: 20px;
    }
}

/* event-section */

.event-section .event-item {
    background-color: #7e8685 !important;
}

/* people-section */

.people-section .rounded-circle {
    overflow: hidden;
}

/* wishes-section */

.wish-box {
    border-color: #fff;
}

.wish-box .wish-box-item.bg {
    background-color: rgb(128 178 222 / 50%);
}

.wishes-section button,
.event-section a {
    background-color: #696e6f;
    border: none;
    transition: 0.2s;
    color: #fff;
}

.wishes-section button:hover,
.event-section a:hover {
    opacity: 0.6 !important;
    background-color: #696e6f !important;
    border: none !important;
}

/* donate-section */

.donate-section .donate-card {
    background: #fff;
}

.donate-section .donate-card p {
    color: #000;
}

.donate-card .sub-title {
    color: #5b595a;
    font-size: 1.3rem;
}

/* footer-section */

.footer-section .title {
    font-size: 2.6em;
}

.footer-section .sub-title {
    font-size: 1.2em;
}

@media (max-width: 375px) {
    .day_area_inner {
        font-size: 4rem;
    }
    .main_area .wrap-name {
        font-size: 1.5rem;
    }
    .couple-section .member .color-w {
        font-size: 20px;
    }
    .invitation-section .invitation-common-wrapper {
        font-size: 25px;
    }
    .invitation-section .wrap-invitation .title-big {
        font-size: 2rem;
    }
    .invitation-section .invitation-parent {
        font-size: 1rem;
    }
    .invitation-section .invitation-content {
        font-size: 16px !important;
        line-height: 30px !important;
    }
    .invitation-section .invitation-content p {
        margin-bottom: 0;
    }
    .invitation-section .invitation_sub_title .dday {
        position: absolute;
        top: -10px;
        left: -20px;
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.2rem;
        color: #2d2d2d;
        letter-spacing: 0px;
    }
    .invitation_title_member_image .sub-title span {
        font-size: 1.2rem;
    }
    .invitation_title_member_image .sub-title small {
        font-size: 0.8rem;
    }
    .wrap-invitation .text-desc {
        font-size: 1.2rem;
    }
}

/*new form*/

#section-comment {
    background-color: #dbe3e2;
    color: black !important;
}

.box-comment {
    background-color: white;
    color: black !important;
}

.box-comment>p {
    color: black;
}

.reply-comment-box {
    color: black !important;
}

.reply-comment-box>p {
    color: black;
}

#btn-submit-comment {
    color: white;
    text-transform: uppercase;
}

#btn-submit-comment:hover {
    color: white;
}